 /* wallust template - colors-waybar */

 @define-color foreground #CFE5E9;
 @define-color background #191B1D;
 @define-color background-alt rgba(25,27,29,0.25);
 @define-color cursor #80A5AF;
 
 @define-color color0 #3F4244;
 @define-color color1 #0A171C;
 @define-color color2 #254D58;
 @define-color color3 #254D58;
 @define-color color4 #254D58;
 @define-color color5 #588791;
 @define-color color6 #588791;
 @define-color color7 #B1D1D8;
 @define-color color8 #7C9297;
 @define-color color9 #0E1F26;
 @define-color color10 #316675;
 @define-color color11 #316675;
 @define-color color12 #326776;
 @define-color color13 #75B4C1;
 @define-color color14 #75B4C1;
 @define-color color15 #B1D1D8; 